*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
**/.idea/**
app/src/prod/google-services.json
app/src/demo/google-services.json
app/src/demo/res/values/apikeys.xml
app/src/prod/res/values/apikeys.xml
app/src/main/res/values/apikeys.xml
app/src/demo/res/values/admob.xml
app/src/prod/res/values/admob.xml

